/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

section {
  scroll-margin-top: 100px; /* Adjust based on navbar height */
}

/* Ensure no element forces width */
* {
  max-width: 100%;
  box-sizing: border-box;
}